<div class="artistSearch">
    {{#each  artists}}
        <div class="artistSearchDiv">
            <h2>{{name}}</h2>
            <img src="{{images.[0].url}}" alt="">
            <button type="submit">
                <a href='/albums/{{id}}'>View Albums</a>
            </button>
        </div>
    {{/each}}
</div>

