body {
    height: 100vh;
    width: 100vh;
    margin: 0;
}
.mainPageBackground {
    background-image: url('/images/spotify-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed; 
    top:0px; 
    left:0px; 
    bottom:0px; 
    right:0px;
}
.mainPage {
    background-color: rgb(255,255,255,0.5);
    width: 100vh;
    height: 25vh;
    margin: 0 auto;
    padding-top: 10vh;
    margin-top: 30vh;
}
.mainForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainForm input {
    background-color: white;
    border: 1px solid rgb(220,220,220);
    border-radius: 3px;
    padding: 10px;
    width: 300px;
    margin-bottom: 2vh;
}
.mainForm button {
    background-color: rgb(255,99,71);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 2vh;
    padding: 10px;
    width: 150px;
}
.artistSearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute; 
    /* height: 100vh;
    
    top:0px; 
    left:0px; 
    bottom:0px; 
    right:0px;
    background: white; */
} 
.artistSearchDiv {
    display: flex;
    flex-direction: column;
}
.artistSearch img {
    width: 400px;
    margin-bottom: 40px;
}
.artistSearch button {
    border: none;
    border-radius: 5px;
    background-color: #ff6347;
    width: fit-content;
    padding: 5px 10px;
}
.artistSearch a {
    text-decoration: none;
    color: white;
    font-size: medium;
}
